html{
  font-size: 15px;
}

html, body {
  position: relative;
  min-height: 100%;
  background-color: #f8f9fa;
}
/* body {
  Margin bottom by footer height
  margin-bottom: 60px;
} */

@media (min-width: 1200px){
  .container{
    max-width: 92%;
  }
}

.page{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100%;
}

.page-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin: .5rem 0 1.5rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.page-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
}


.dropdown{
  display: inline-block;
}
.dropdown-menu{
  z-index: 9999 !important;
}

.navbar, .header{
  border-bottom: 1px solid rgba(0, 40, 100, 0.12);
}

.header-brand-img {
    height: 2rem;
    line-height: 2rem;
    vertical-align: bottom;
    margin-right: .5rem;
    width: auto;
}
.align-self-center{
  padding: 2px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  border-top: 1px solid rgba(0, 40, 100, 0.12);
}

.nav-item{
  position: relative;
  margin-bottom: 0;
  padding: 0 .75rem;
}

.nav-item a{
  color: #9aa0ac !important;
}
.nav-item a:hover{
  color: black !important;
}

.nav-item .nav-link:hover{
  color: black !important;
  border-bottom: 1px solid #9aa0ac;
}

.nav-link {
  cursor: pointer;
  color: #9aa0ac !important;
}

.nav-link{
  min-width: 2rem;
  padding: 1rem 0 !important;
  border-bottom: 1px solid transparent;
}
.active a.nav-link {        
  color:#007bff !important;
  border-bottom: 1px solid #007bff;
}

.dropdown-item.active{
  color: #fff !important;
}

/*.dropdown-menu{
  padding: .25rem 0 !important;
}
.dropdown-item{
  padding: 0.25rem .85rem;
}*/
.dropdown-divider{
	margin: 0 !important;
}
.user-dropdown{
  display: block !important;
  text-decoration: none !important;
}

.leading-none {
    line-height: 1 !important;
    padding: 0 .75rem;
    min-width: 2rem;
    transition: .3s color;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.avatar {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    display: inline-block;
    background: #ced4da no-repeat center/cover;
    position: relative;
    text-align: center;
    color: #868e96;
    font-weight: 600;
    vertical-align: bottom;
    font-size: .875rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.user-info{
  float: right;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
.card{
      margin-bottom: 1.5rem !important;
}
.card-header{
    background: #fff !important;
    padding: 0.5rem 1.5rem;
    display: flex;
    min-height: 3.5rem;
    align-items: center;
}

.card-title {
    font-size: 1.125rem;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 0 !important;
}

.card-status {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    height: 3px;
    border-radius: 3px 3px 0 0;
    background: rgba(0, 40, 100, 0.12);
}

.card-options {
    margin-left: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-order: 100;
    order: 100;
    margin-right: -.5rem;
    color: #9aa0ac;
    -ms-flex-item-align: center;
    align-self: center;
}

.search-input:focus {
    outline: 0 !important;
    border-color: initial;
    box-shadow: none !important;
}

.fa-search{
  color: grey !important;
}

.form-inline .input-group{
  width: 100%;
}


.text-default{
  color: #495057 !important;
}
.text-green {
  color: #5eba00 !important;
}




